body {
  padding-top: 5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  padding-top: 1%;
  padding-bottom: 1%;
}

h5,
h3 {
  color: darkslateblue;
}

h3 {
  vertical-align: middle;
  padding-top: 5%;
}

.perspective {
  text-align: center;
  padding-left: 25%;
  width: 80%;
}

.perspective-response {
  font-size: smaller;
  font-weight: bold;
  vertical-align: middle;
}

.input-selection {
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: x-large;
}

.perspective-selected {
  background-color: rgb(177, 81, 177);
}

.perspective-result {
  width: 100%;
}
